MOTOMARKS_SECRET_KEY=sk_00000000000000000000000000000000
MOTOMARKS_PUBLIC_KEY=pk_00000000000000000000000000000000
MOTOMARKS_API_BASE_URL=https://motomarks.io
MOTOMARKS_IMAGE_BASE_URL=https://motomarks.io/img
MOTOMARKS_TIMEOUT_MS=10000
# MOTOMARKS_REFERER=https://your-site.example
